<div class="burger-slider w-100">

</div>
<div class="container">
    <div class="row d-flex flex-row justify-content-between">
        {{!-- Buttons Container --}}
        <div class="button-div col-12 d-flex flex-row justify-content-center">
            <button class="burger-btn" id="save-btn">
                Save
            </button>
            <button class="burger-btn" id="reset-btn">
                Reset
            </button>
        </div>
        {{!-- Buns Column --}}
        <div class="options-div col-3">
            <h2>Buns</h2>
            <div class="burger-option">
                Plain
            </div>
            <div class="burger-option">
                Sesame
            </div>
            <div class="burger-option">
                Pumpernickel
            </div>
        </div>
        {{!-- Patty Column --}}
        <div class="options-div col-3">
            <h2>Patty</h2>
            <div class="burger-option">
                Single
            </div>
            <div class="burger-option">
                Double
            </div>
            <div class="burger-option">
                Triple
            </div>
        </div>
        {{!-- Toppings Column --}}
        <div class="options-div col-3">
            <h2>Toppings</h2>
            <div class="burger-option">
                Cheese
            </div>
            <div class="burger-option">
                Lettuce
            </div>
            <div class="burger-option">
                Tomato
            </div>
            <div class="burger-option">
                Onions
            </div>
            <div class="burger-option">
                Bacon
            </div>
            <div class="burger-option">
                Egg
            </div>
            <div class="burger-option">
                Pickles
            </div>
        </div>
        {{!-- Sauces Column --}}
        <div class="options-div col-3">
            <h2>Sauces</h2>
            <div class="burger-option">
                Ketchup
            </div>
            <div class="burger-option">
                Mustard
            </div>
        </div>
    </div>
</div>