<div class="login-modal row d-flex justify-content-center">
    <form id="login-form" class="col-md-6" action="/api-login/login" method="POST">
        <div class="form-group">
            <label for="login-username">Username</label>
            <input type="text" class="form-control" id="input-username" name="username">
        </div>
        <div class="form-group">
            <label for="login-password">Password</label>
            <input type="text" class="form-control" id="input-password" name="password">
            <small id="disclaimer-password" class="form-text text-muted">Please do not use a serious password, this site only uses basic encryption methods</small>
        </div>
        <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
        <a href="/register" id="register-link">Want to have some fun? Register now!</a>
    </form>
</div>