<div class="login-modal row d-flex justify-content-center">
    <form id="register-form" class="col-md-6" action="/api-login/register" method="POST">
        <div class="form-group">
            <label for="register-username">Username</label>
            <input type="text" class="form-control" id="register-username" name="username">
        </div>
        <div class="form-group">
            <label for="register-display">Display Name</label>
            <input type="text" class="form-control" id="register-display" name="display">
        </div>
        <div class="form-group">
            <label for="register-password">Password</label>
            <input type="text" class="form-control" id="register-password" name="password">
            <small id="disclaimer-password" class="form-text text-muted">Please do not use a serious password, this site only uses basic encryption methods</small>
        </div>
        <div class="form-group">
            <label for="register-password">Confirm Password</label>
            <input type="text" class="form-control" id="register-confirm" name="confirm">
            <small id="disclaimer-confirm" class="form-text text-muted"></small>
        </div>
        <button type="submit" class="btn btn-primary" id="login-btn">Register</button>
    </form>
</div>