 /* =============== OPTIONS STYLING =============== */
.container{
    background-color: rgb(83, 163, 202);
}

.burger-btn{
    padding: 0.5rem 2rem;
    margin: 0.5rem 1.5rem;
    color: white;
}

#save-btn{
    background-color: rgb(16, 111, 206);
    border-style: none;
}

#reset-btn{
    background-color: rgb(225, 42, 9);
    border-style: none;
}

h2{
    text-align: center;
    margin-bottom: 2rem;
}

.burger-option{
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    outline-color: aqua;
    outline-width: 0.25rem;
    outline-style: solid;
    margin-top: 0.25rem;
    background-color: red;
}

.burger-option:hover{
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    outline-color: aqua;
    outline-width: 0.25rem;
    outline-style: solid;
    margin-top: 0.25rem;
    background-color: pink;
}