 /* =============== NAVIGATION BAR =============== */
 
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    padding: auto;
}

 /* =============== OPTIONS STYLING =============== */
.container-fluid{
    background-color: rgb(83, 163, 202);
    width: 100%;
    padding-left: 0;
}

.button-div{

}

.burger-btn{
    width: 100px;
    color: white;
}

#save-btn{
    background-color: rgb(16, 111, 206);
    border-style: none;
}

#view-btn{
    background-color: rgb(2, 133, 0);
    border-style: none;
}

#reset-btn{
    background-color: rgb(225, 42, 9);
    border-style: none;
}

h2{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.options-column{
    overflow-y: scroll;
    width: 100%;
    height: 87vh;
}

.burger-option{
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    outline-color: aqua;
    outline-width: 0.25rem;
    outline-style: solid;
    margin-top: 0.25rem;
    background-color: red;
}

.burger-option:hover{
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    outline-color: aqua;
    outline-width: 0.25rem;
    outline-style: solid;
    margin-top: 0.25rem;
    background-color: pink;
}

.burger-option.active{
    background-color: white;
}

/* ========== BURGER STYLING ========== */
.cycle-div{
    margin-bottom: 15px;
}

.burger-slider{
    padding-top: 3rem;
    height: 90vh;
}

#plate{
    margin-left: -35px!important;
    margin-top: -20px;
}

.burger-ingredient{
    width: 350px;
}